/ content
.container
  .women_main
    .row.single
      .col-md-9
        .single_left
          .col-md-5
            = image_tag @product.picture(@product.picture_id).image.thumb.url, class: 'img-responsive thumbnail'
            .col-md-12
              - @product.pictures.each do |picture|
                = image_tag picture.image.small.url
          .col-md-7
            %h3= @product.title
            .price
              %span.text Цена:
              %span.price-new= number_to_currency(@product.price.to_d / 100)
            .det_nav1
              %h4 Размер:
              .sky-form.col.col-4
                - @product_sizes.each do |size|
                  = size.value
              %h4 Цвет:
              .sky-form.col.col-4
                - @product_colors.each do |color|
                  = color.value
            .btn_form
              = link_to 'Купить', '#'
        .clearfix
        .single-bottom1
          %h6 Описание
          %p.prod-desc= @product.description.html_safe
      / start sidebar
      .col-md-3.s-d
        .w_sidebar
          .w_nav1
            %h4 Категории
            %ul
              - @categories.each do |cat|
                %li= link_to cat.name, category_path(cat)
          %h3 Фильтр
          %section.sky-form
            %h4 Размер
            .row1.scroll-pane
              .col.col-4
                - @sizes.each do |size|
                  %label.checkbox
                    %input{type: 'checkbox', name: 'checkbox'}
                    %i
                    = size.value
          %section.sky-form
            %h4 Цвет
            .row1.scroll-pane
              .col.col-4
                - @colors.each do |color|
                  %label.checkbox
                    %input{type: 'checkbox', name: 'checkbox'}
                    %i
                    = color.value